body{
	background-color: darkblue;
	color:white;
}
nav{
	float:left;
	background-color:crimson;
	width:25%;
	height:500px;
}
.column {
	flex:25%;
	padding:5px;
}
.row{
	display:flex;
}
#pic1 {
	background-color:white;
}
#pic1:hover {
	background-color:crimson;
}
#pic2 {
	background-color:crimson
}
#pic2:hover {
	background-color:white;
}
#pic3 {
	background-color:white;
}
#pic3:hover {
	background-color:crimson
}
ul {
	list-style-type:none;
	padding:0px;
}
li a {
	background-color: white;
	text-decoration:none;
	margin:25px;
	padding:20px;
	display:block;
	border-radius:10px;
	text-align:center;
}
li a:hover{
	background-color:gray;
}
h1 {
	font-size:300%;
	text-align:center;
}
#name {
	background-color:crimson;
	box-shadow: 10px 15px black;
	text-decoration: underline;
	text-align:center;
	margin:5px;
}