body{
	background-color: darkblue;
	color:white;
}
nav{
	float:left;
	background-color:crimson;
	width:25%;
	height:500px;

}
#pic1 {
	width:25%;
	height:500px;
	background-color:white;
}
#pic2 {
	width:25%;
	height:500px;
	background-color:crimson;
}
#pic3 {
	width:25%;
	height:500px;
	background-color:white;
}
ul {
	list-style-type:none;
	padding:0px;
}
li a {
	background-color:crimson;
	text-decoration:none;
	margin:25px;
	padding:20px;
	display:block;
	border-radius:10px;
	text-align:center;
}
li a:hover{
	background-color:gray;
}
h1 {
	font-size:300%;
	background-color:crimson;
	box-shadow: 10px 15px black;
	text-decoration: underline;
}